.slct {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
  text-decoration: none;
}

.slct.active {
	border-bottom: none;
}

.drop {
  position: absolute;
	top: 30px;
	right: -10px;
  z-index: 20;
	width: 40px;
	margin: 0;
	padding: 0;
	border: 1px solid #cecece;
  border-radius: 5px;
	border-top: none;
	display: none;
	background: #ffffff;
}

.drop__item {
	list-style: none;
	border-top: 1px dotted #e8e8e8;
	cursor: pointer;
	padding: 5px 10px;
}

.drop__img {
	width: 20px;
	vertical-align: middle;
}

@media (min-width: 1440px) {
	.drop {
		top: 35px;
	}
	
	.drop__img {
		width: 24px;
	}
}
